body{
	background-image:url("images/backgrandline.jpg");
	background-repeat:repeat-x;
	background-color:#FEFBE2;
}
div.container{
	width:950px;
	margin:0 auto;
}

div.header{
	min-height:210px;
}


div.header div.leftheader{
	float:left;
	min-height:200px;
	width:300px;
	background-image:url("images/impala-webstudio.png");
	
}


div.header div.rightheader{
	width:auto;
	min-height:200px;
	margin-left:302px;	
}


div.content{
	min-height:440px;
	
}

div.banner{
	min-height:570px;
	background-image:url("images/diaporama_background.jpg");
	background-repeat:no-repeat;
	
	
}

div.bannersecond{
	
	min-height:40px;
	background-image:url("images/diaporama_shadow.gif");
	background-repeat:no-repeat;
	background-size:contain;
}
div.panels{
	min-height:400px;
	
	
}

div.content div.line{
	
	min-height:40px;
	
}

div.panels div.leftpanel{
	float:left;
	min-height:400px;
	width:200px;
}

div.panels div.centerpanel{
	float:left;
	min-height:400px;
	width:200px;
}


div.panels div.rightpanel{
	margin-left:402px;
	min-height:400px;
	width:200px;
	

}



div.bottom{
	min-height:250px;
}

div.footer{
	min-height:100px;
}

